body {
    display: block;
}

.main-box {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

#kinds {
    display: flex;
    flex-direction: column;
    width: 15%;
}

button.active {
    background-color: #f0f0f0;
}

button.active:hover {
    background-color: #f0f0f0;
}

#elements-list {
    display: flex;
    flex-wrap: wrap;
}

#elem-box {
    border: 1px solid #f0f0f0;
    padding: 0.5rem;
}

table {
    margin: 0;
}

.card {
    padding: 0.3rem;
    border: 1px solid #808080;
    border-radius: 0.3rem;
}

#results {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

table.periodic td {
    padding: 0;
    border: 0;
}

table.periodic button {
    border: 1px solid #f0f0f0;
    border-radius: 0;
    margin: 0;
    width: 100%;
}
table.periodic small {
    font-size: 0.7rem;
}
button.elem {
    border: 1px solid #f0f0f0;
    border-radius: 0;
    margin: 0;
}